* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.mainColorPink {
    color: #f16d7f;
}

.center {
    padding: 0 calc(50% - 570px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px #ececec;
}

.logo {
    display: flex;
    align-items: center;

    font-size: 27px;
    font-weight: 300;
    color: #222222;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.logo span {
    font-weight: 900;
    color: #f16d7f;
}

.logo_img {
    margin-right: 13px;

}

.header_left {
    display: flex;
    align-items: center;
}
.header_form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.header_browse_btn {
    height: 38px;
    width: 87px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;

    background-image: -webkit-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    background-image: -moz-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
}

.header_input {
    height: 38px;
    width: 279px;
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;

}

.header_input::placeholder {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    color: #a4a4a4;
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 32px;

    padding-left: 16px;
}

.search_button {
    height: 40px;
    width: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    background-color: #ffffff;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_right .button {
    height: 38px;
    width: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f16d7f;
    color: #ffffff;

    position: relative;
    letter-spacing: 0.03em;
    font-size: 15px;
}

.header_cart {
    margin-right: 26px;
}


/*MENU BLOCK*/

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu_list {
    position: relative;
}
.menu_list:hover .drop {
    display: flex;
}

.menu_link {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-align: left;
    line-height: 26px;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

    /*MENU BLOCK / DROP MENU*/
.drop {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid rgba(236, 236, 236, 1);
    display: none;
    position: absolute;
    top: 53px;
}

.drop_last {
    right: 0;
}

.drop_flex {
    width: 234px;
    margin-right: 46px;
}
.drop_flex:last-of-type {
    margin-right: 0;
}
.drop_h3 {
    font-size: 14px;
    color: rgba(35, 35, 35, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}
.ul_drop {
    list-style-type: none;
}
.drop_link {
    font-size: 14px;
    color: rgba(100, 100, 100, 1);
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 28px;
}
.drop_link:hover {
    color: rgba(241, 109, 127, 1);
}

/*PROMO BLOCK*/
.promo {
    background-color: #e8e8e8;
}

.promo_content {
    display: flex;
    align-items: center;

    height: 614px;
    background-image: url("img/promo_back.png");
    background-repeat: no-repeat;
    background-position: center -51px;
}

.promo_text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.promo_h1 {
    font-size: 60px;
    font-weight: 900;
    color: #222222;
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 45px;
    margin-bottom: 20px;

}
.promo_h3 {
    font-size: 40px;
    font-weight: 900;
    color: #222222;
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 30px;

}
.bright_promo_text {
    color: #f16d7f;
}
.bright_offer_text {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
}

/*OFFER BLOCK*/
.offer {
    padding-top: 98px;
    padding-bottom: 98px;
}

.offer_gallery {
    display: flex;
}

.offer_column_left {
    display: flex;
    flex-direction: column;

    padding-right: 10px;
}
.offer_column_right{
    display: flex;
    flex-direction: column;
    padding-left: 10px;

}

.offer_column_left,
.offer_column_right {

}

.offer_hotDeal_img {
    height: 542px;
    width: 560px;

}
.offer_luxirous_img {
    height: 261px;
    width: 560px;

}
.offer_discount_img {
    height: 261px;
    width: 560px;
}
.offer_arrivals_img {
    height: 542px;
    width: 560px;
}

.offer_luxirous_block,
.offer_arrivals_block {
    margin-top: 20px;
}

.relative {
    position: relative;
}
.offer_title {
    position: absolute;
    top: 26px;
    left: 0px;
    width: 144px;
    height: 58px;
    background-color:  #ffffff;
    padding: 16px 20px;
}

.offer_title_wide {
    position: absolute;
    top: 26px;
    left: 0px;
    width: 196px;
    height: 58px;
    background-color:  #ffffff;
    padding: 16px 20px;
}

.offer_title_header3 {
    font-size: 18px;
    font-weight: 900;
    color: #222222;
    text-align: left;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.offer_title_header2 {
    font-size: 30px;
    font-weight: 900;
    color: #f16d7f;
    text-align: left;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*PURCHASE BLOCK / IMAGE GALLERY*/
.purchase {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 113px;
}

.purchase_title {
    font-size: 30px;
    font-weight: bold;
    color: #222222;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 60px;
}

.purchase_title p {
    font-size: 14px;
    color: #9f9f9f;
    text-align: center;
    letter-spacing: 0.03em;
}

.purchase_title_header {
    margin-bottom: 16px;
}

.purchase_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.purchase_item {
    width: 263px;
    margin: 0 10px 39px 10px;
    position: relative;
}
.purchase_img {
    width: 100%;
}
.purchase_item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}
.purchase_item:hover .purchase_add {
    display: flex;
}

.purchase_item:hover .purchase_img {
    filter: brightness(50%);
}

.purchase_info {
    padding: 19px 14px;
}

.purchase_item_title {
    font-size: 13px;
    color: #222222;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.purchase_item_price {
    font-size: 16px;
    font-weight: bold;
    color: #f16d7f;
    text-align: left;
    text-transform: uppercase;
}

.purchase_add {
    height: 39px;
    width: 123px;
    border: 1px solid #ffffff;

    font-size: 13px;
    font-weight: bold;
    color: #ffffff;

    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 97px;
    left: 70px;
}
.purchase_add:hover {
    box-shadow: 0 0 8px #ffffff;
}

/* PURCHASE BLOCK / BUTTON */

.purchase_button {
    background-color: #f16d7f;
    color: white;

    text-decoration: none;
    display: inline-block;
    padding: 18px 24px;
    position: relative;
    letter-spacing: 0.03em;

    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* BANNER BLOCK */

.banner {
    display: flex;
    flex-direction: row;

    height: 529px;
}

.banner_leftSide {
    width: 767px;

    position: relative;
}

.banner_description {
    position: absolute;

    top: 146px;
    left: 39px;
}

.banner_title {
    font-size: 54px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0.03em;
}
.banner_title span {
    font-size: 54px;
    font-weight: bold;
    color: #f16d7f;
    text-align: left;
    letter-spacing: 0.03em;
}

.banner_moreInfo {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    letter-spacing: 0.03em;
    -webkit-transform: scale(0.89);
    -ms-transform: scale(0.89);
    transform: scale(0.89);
}

.banner_rightSide {
    background-color: #222224;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_offer {
    display: flex;
    flex-direction: row;

    margin: 33px 19px;
}

.banner_leftSide_description {
    margin-left: 33px;
}

.banner_rightSide_title {
    font-size: 20px;
    font-weight: bold;
    color: #fbfbfb;
    text-align: left;
    letter-spacing: 0.03em;

    padding-bottom: 17px;
}

.banner_rightSide_text {
    font-size: 14px;
    font-weight: 300;
    color: #fbfbfb;
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 24px;
}

/* FEEDBACK BLOCK */
.feedback {
    margin: 97px 0;
}

.feedback_content {
    display: flex;
    flex-wrap: wrap;

    height: 438px;
    background-image: url(img/feedback_back.png);
    background-repeat: no-repeat;
    background-position: center;

}

.review {
    display: flex;
    width: 800px;
    padding-top: 111px;

}

.review img {
    width: 83px;
    padding-right: 28px;
}
.review_content {
    width: 426px;
    padding-top: 12px;
}

.review_message {
    padding-bottom: 3px;

    font-size: 16px;
    font-style: italic;
    color: rgba(34, 34, 36, 1);
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 26px;
}

.review_name {
    font-size: 16px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 26px;
}

.review_location {
    font-size: 12px;
    font-weight: 300;
    color: rgba(34, 34, 36, 1);
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 14px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 111px;
}

.subscribe_title {
    font-size: 24px;
    color: rgba(34, 34, 36, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px;
    text-transform: uppercase;

    height: 45px;
}
.subscribe_text {
    font-size: 14px;
    color: rgba(34, 34, 36, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 24px;
}

.subscribe_input {
    margin-top: 35px;
}

.subscribe_email {
    /*height: 46px;*/
    padding: 16px 16px;
    width: 205px;
    background-color: rgba(225, 225, 225, 1);
    border-radius: 50px 0 0 50px;

    border: 0;
}

.subscribe_email::placeholder {
    font-family: 'Lato';
    font-size: 14px;
    color: rgba(34, 34, 36, 0.5);
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 54px;

    padding-left: 24px;
}

.subscribe_button {
    background-color: rgba(241, 109, 127, 1);
    border-radius: 0px 23px 23px 0px;

    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 16px 16px;
    letter-spacing: 0.06em;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

/* NAVIGATION BLOCK */

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;

    margin: 97px 0;
}
.navigation_brand {
    display: flex;
    flex-direction: column;

    width: 430px;
}

.navigation_brand .logo {
    width: 170px;
}

.navigation_paragraph {
    margin-top: 29px;

    font-size: 14px;
    font-weight: 300;
    color: rgba(137, 137, 137, 1);
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 24px;
}

.navigation_table th {
    font-size: 18px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 26px;
}
.navigation_table table {
    padding-left: 40px;
}


.navigation_table td {
    height: 49px;
    width: 220px;

}

.navigation_table td a {
    font-size: 16px;
    color: rgba(137, 137, 137, 1);
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 59px;
}

/* FOOTER */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(230, 230, 230, 1);

    height: 79px;
}

.footer_link_colored {
    background-color: rgba(241, 109, 127, 1);
    display: inline-block;
    height: 32px;
    width: 32px;

    margin: 4px;

}

.footer_link {
    position: relative;
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: rgba(255, 255, 255, 1);

    margin: 4px;
}

.social_icons img {
    position: absolute;
    top: 8px;
    left: 8px;
}

